<!--head.html 存放css  foot存放js-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="foot">
    <script th:src="@{/html_model/hplus/js/jquery.min.js-v=2.1.4.js}" ></script>
    <script th:src="@{/html_model/hplus/js/bootstrap.min.js-v=3.3.5.js}" ></script>
    <script th:src="@{/html_model/hplus/js/plugins/metisMenu/jquery.metisMenu.js}" ></script>
    <script th:src="@{/html_model/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js}" ></script>
    <script th:src="@{/html_model/hplus/js/plugins/layer/layer.min.js}" ></script>
    <script th:src="@{/html_model/hplus/js/hplus.min.js-v=4.0.0.js}" ></script>
    <script type="text/javascript" th:src="@{/html_model/hplus/js/contabs.min.js}" ></script>
    <script th:src="@{/html_model/hplus/js/plugins/pace/pace.min.js}" ></script>
</th:block>
</html>