<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>小吃街后台管理 - 主页</title>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <!--[if lt IE 8]>
        <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <th:block th:include="head :: head_css"></th:block>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
草  原来是没有东西看到
<th:block th:include="head :: head_js"></th:block>
</body>

</html>